body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background: #323232ff;
}


.active {
    stroke: yellow;
    stroke-width: 2px;
}
.movingBubbles:hover {
    stroke: white;
    stroke-width: 2px;
}

h1 {
    font-size: 1.4em;
    font-weight: 120;
    color: whitesmoke; 
}

h2,
h3 {
    width: 90%;
    margin: 10px auto 10px auto;
}

.button {
 
    float: left;
    cursor: pointer;
}
#words {
    
    float: left;
}

#title {
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 300px;
    left: 680px;
    width: 30%;
    margin: 10px auto 10px auto; 
}

#container {
    /*position: absolute; */
    width: 90%;
    margin: 10px auto 10px auto;
    /*border: 1px solid #d3d3d3; */
    text-align: center;
    overflow: hidden;
}

.middle-menu {
    color: whitesmoke;
    /*position: absolute; */
    top: 400px;
    left: 40%;
    text-align: center;
    font-size: 25px;
    z-index: 10;
}

/*button {
    
    
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
    background: #323232ff;
  } */

/*.button {
    width: 10px;
    padding: 0;
    margin: 0;
    background: #323232ff;
    font-size: 1.6em;
    /*float: left; 
    cursor: pointer;
} */

.button:hover {
    opacity: 0.5;
}

.name:hover {
    cursor: pointer;
    /*color: rgba(0, 0, 0, 0.5); */
    opacity: 0.5;
}

table {
    width: 90%;
    margin: 10px auto 10px auto;
    color: white;
}

td {
    text-align: center;
}

div.popup {
    position: absolute;			
    text-align: left;			
    /*width: 240px;*/					
    height: 80px;					
    padding: 10px;
    padding-left: 6px;				
    font: 18px;	
    color: whitesmoke;	
    background: #323232ff;	
    border: 1px solid whitesmoke;		
    border-radius: 8px;			
    pointer-events: none;	
}